nav.navbar.navbar-default {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.navbar-nav {
  background-color: #42a9a6;
  font-size: large;
  min-height: 10%;
  font-family: "Lobster", cursive;
}

.nav-item .nav-link {
  color: #fff5ea;
}

.nav-item .nav-link:hover {
  color: #fff5ea;
}

.nav-item .nav-link:visited {
  color: #fff5ea;
}
