nav.navbar.navbar-default {
  margin-bottom: 0;
}

.navbar-nav {
  background-color: #42a9a6;
  font-size: large;
}

.nav-item .nav-link {
  color: #fce8d3;
}

.nav-item .nav-link:hover {
  color: #fce8d3;
}

.nav-item .nav-link:visited {
  color: #fce8d3;
}
