.col-md-4 {
  position: relative;
  height: 100%;
}

.col-md-8 {
  position: relative;
  height: 100%;
}

.home {
  position: relative;
  bottom: 300px;
  left: 200px;
  font-family: "Lobster", cursive;
  font-size: 250px;
}

.about {
  position: relative;
  width: 120%;
  bottom: 80px;
  left: 200px;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 30px;
}

img {
  position: relative;
  bottom: 0;
  top: 0;
  height: 800px;
}

.portrait {
  left: 200px;
}

.skillPortrait {
  left: 350px;
}

.hedgehog {
  position: relative;
  bottom: 0;
  right: 0;
  height: 600px;
}

.list {
  position: relative;
  list-style-type: none;
  left: 300px;
  bottom: 250px;
  margin: 0;
  padding: 0;
  font-size: 35px;
  font-family: "Quicksand", sans-serif;
}

.listContact {
  bottom: 350px;
}

a:hover {
  text-decoration: none;
  color: #fff5ea;
}

a:link {
  text-decoration: none;
  color: #fff5ea;
}

a:visited {
  text-decoration: none;
  color: #fff5ea;
}

figure {
  position: relative;
  border: 5px solid;
  left: 350px;
  height: 200px;
  width: 650px;
  margin: auto;
  bottom: 150px;
}

.project {
  position: relative;
  height: 100%;
  width: 100%;
}

.cap {
  position: relative;
  font-size: 35px;
  font-family: "Quicksand", sans-serif;
  left: 350px;
  bottom: 150px;
}

@media only screen and (max-width: 1600px) {
  .col-md-4 {
    position: relative;
    height: 100%;
  }

  .col-md-8 {
    position: relative;
    height: 100%;
  }

  .home {
    position: relative;
    bottom: 150px;
    left: 125px;
    font-family: "Lobster", cursive;
    font-size: 200px;
  }

  .about {
    position: relative;
    width: 100%;
    left: 30px;
    bottom: 50px;
    font-family: "Quicksand", sans-serif;
    font-size: 23px;
    text-align: left;
  }

  img {
    position: relative;
    bottom: 0;
    top: 0;
    height: 565px;
  }

  .portrait {
    left: 100px;
  }

  .skillPortrait {
    left: 350px;
  }

  .hedgehog {
    position: relative;
    bottom: 0;
    right: 0;
    height: 470px;
  }

  .list {
    position: relative;
    list-style-type: none;
    left: 250px;
    bottom: 150px;
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-family: "Quicksand", sans-serif;
  }

  .listContact {
    bottom: 250px;
  }

  a:hover {
    text-decoration: none;
    color: #fff5ea;
  }

  a:link {
    text-decoration: none;
    color: #fff5ea;
  }

  a:visited {
    text-decoration: none;
    color: #fff5ea;
  }

  figure {
    position: relative;
    border: 5px solid;
    left: 100px;
    height: 200px;
    width: 650px;
    margin: auto;
    bottom: 50px;
  }

  .project {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .cap {
    position: relative;
    font-size: 25px;
    font-family: "Quicksand", sans-serif;
    left: 100px;
    bottom: 50px;
  }
}

@media only screen and (max-width: 1024px) {
  .col-md-8 {
    width: 100% !important;
  }

  .col-md-4 {
    width: 100% !important;
  }

  .home {
    top: 25px;
    font-size: 150px;
    align-items: center;
  }

  .list {
    align-items: center;
    text-align: center;
    left: -50px;
    bottom: 0;
    top: 125px;
  }

  .listContact {
    top: 150px;
    left: -100px;
  }

  figure {
    left: 50px !important;
    bottom: 200px;
    width: 325px !important;
  }

  .project {
    left: 0px;
    top: 0px !important;
  }

  .cap {
    left: 50px !important;
    bottom: 200px;
  }

  img {
    right: 50px;
    top: 10px !important;
  }

  .portrait {
    height: 700px;
    align-items: center;
  }

  .about {
    width: 100%;
    text-align: center;
    top: 25px;
    left: 25px;
  }

  .hedgehog {
    left: 200px;
  }

  .rowHome {
    display: flex;
    flex-direction: column;
  }

  .rowAbout {
    display: flex;
    flex-direction: column-reverse;
  }

  .contact {
    font-size: 30px;
  }
}

@media only screen and (max-width: 575.98px) {
  .home {
    top: 25px;
    font-size: 100px;
    left: 45px;
  }

  .list {
    left: 60px !important;
    padding-bottom: 100px !important;
    text-align: center;
    top: -125px;
  }

  .listContact {
    top: -200px !important;
    left: 45px !important;
  }

  figure {
    left: 45px !important;
    top: 10px;
    width: 325px !important;
  }

  .project {
    left: 0px;
    top: 0px !important;
  }

  .cap {
    left: 45px !important;
    top: 10px;
  }

  img {
    right: 50px;
    top: 10px !important;
  }

  .portrait {
    height: 600px;
    right: 0px;
    left: -30px;
  }

  .mobilePortrait {
    display: none;
  }

  .about {
    text-align: center;
    left: 0px !important;
    top: 10px;
  }

  .hedgehog {
    left: 0px;
    height: 600px;
  }

  .rowAbout {
    display: flex;
    flex-direction: column-reverse;
  }

  .contact {
    font-size: 23px;
  }
}

@media only screen and (max-width: 400px) {
  .home {
    left: 15px;
  }

  .list {
    left: 45px !important;
    top: 0px;
  }

  .listContact {
    left: 15px !important;
    top: -50px !important;
  }

  figure {
    left: 15px !important;
  }

  .cap {
    left: 15px !important;
  }

  .portrait {
    height: 525px;
    right: 0px;
    left: -30px;
  }

  .hedgehog {
    height: 500px;
  }
}
