.home {
  position: relative;
  top: 50px;
  left: 125px;
  font-family: "Lobster", cursive;
  font-size: 200px;
}

@media only screen and (max-width: 480px) {
  .home {
    font-size: 100px;
  }
}

.about {
  position: relative;
  top: 25px;
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
}

img {
  position: relative;
  vertical-align: baseline;
  top: 0;
  height: 565px;
}

.hedgehog {
  top: 75px;
  position: relative;
  vertical-align: baseline;
  right: 0px;
  height: 470px;
}

.list {
  position: relative;
  list-style-type: none;
  left: 35%;
  top: 20%;
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-family: "Quicksand", sans-serif;
}

a:hover {
  text-decoration: none;
  color: #fff5ea;
}

a:link {
  text-decoration: none;
  color: #fff5ea;
}

a:visited {
  text-decoration: none;
  color: #fff5ea;
}

figure {
  position: relative;
  border: 5px solid;
  left: 15%;
}

.project {
  position: relative;
  height: 100%;
  width: 100%;
}

.cap {
  position: relative;
  font-size: 25px;
  font-family: "Quicksand", sans-serif;
  left: 15%;
}