.col-md-4 {
  position: relative;
  height: 100%;
}

.col-md-8 {
  position: relative;
  height: 100%;
}

.home {
  position: relative;
  bottom: 150px;
  left: 125px;
  font-family: "Lobster", cursive;
  font-size: 200px;
}

.about {
  position: relative;
  bottom: 50px;
  font-family: "Quicksand", sans-serif;
  font-size: 23px;
}

img {
  position: relative;
  bottom: 0;
  top: 0;
  height: 565px;
}

.portrait {
  left: 100px;
}

.skillPortrait {
  left: 350px;
}

.hedgehog {
  position: relative;
  bottom: 0;
  right: 0;
  height: 470px;
}

.list {
  position: relative;
  list-style-type: none;
  left: 250px;
  bottom: 150px;
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-family: "Quicksand", sans-serif;
}

.listContact {
  bottom: 250px;
}

a:hover {
  text-decoration: none;
  color: #fff5ea;
}

a:link {
  text-decoration: none;
  color: #fff5ea;
}

a:visited {
  text-decoration: none;
  color: #fff5ea;
}

figure {
  position: relative;
  border: 5px solid;
  left: 100px;
  height: 200px;
  width: 650px;
  margin: auto;
  bottom: 150px;
}

.project {
  position: relative;
  height: 100%;
  width: 100%;
}

.cap {
  position: relative;
  font-size: 25px;
  font-family: "Quicksand", sans-serif;
  left: 100px;
  bottom: 150px;
}

@media only screen and (max-width: 768px) {
  .home {
    top: 25px;
    font-size: 300px;
    left: 15px;
  }

  .list {
    left: 30px !important;
    padding-bottom: 100px !important;
    text-align: center;
    top: 0px;
  }

  .listContact {
    top: -50px !important;
    left: 15px !important;
  }

  figure {
    left: 10px !important;
    top: 10px;
    width: 325px !important;
  }

  .project {
    left: 0px;
    top: 0px !important;
  }

  .cap {
    left: 10px !important;
    top: 10px;
  }

  img {
    right: 50px;
    top: 10px !important;
  }

  .portrait {
    height: 565px;
    right: 0px;
    left: 10px;
  }

  .mobilePortrait {
    display: none;
  }

  .about {
    text-align: center;
    top: 10px;
  }

  .rowAbout {
    display: flex;
    flex-direction: column-reverse;
  }

  .contact {
    font-size: 23px;
  }
}

@media only screen and (max-width: 575.98px) {
  .home {
    top: 25px;
    font-size: 100px;
    left: 15px;
  }

  .list {
    left: 30px !important;
    padding-bottom: 100px !important;
    text-align: center;
    top: 0px;
  }

  .listContact {
    top: -50px !important;
    left: 15px !important;
  }

  figure {
    left: 10px !important;
    top: 10px;
    width: 325px !important;
  }

  .project {
    left: 0px;
    top: 0px !important;
  }

  .cap {
    left: 10px !important;
    top: 10px;
  }

  img {
    right: 50px;
    top: 10px !important;
  }

  .portrait {
    height: 400px;
    right: 0px;
    left: 10px;
  }

  .mobilePortrait {
    display: none;
  }

  .about {
    text-align: center;
    top: 10px;
  }

  .rowAbout {
    display: flex;
    flex-direction: column-reverse;
  }

  .contact {
    font-size: 23px;
  }
}
