.home {
  position: relative;
  top: 50px;
  left: 125px;
  font-family: "Lobster", cursive;
  font-size: 200px;
}

@media only screen and (max-width: 575px) {
  .home {
    font-size: 100px;
    left: 15px;
    padding-bottom: 50px !important;
  }

  .list {
    left: 5px !important;
    padding-bottom: 100px !important;
    text-align: center;
  }

  .listContact {
    left: -10px !important;
  }

  figure {
    left: 10px !important;
    top: 10px;
    width: 325px !important;
  }

  .project {
    left: 0px;
    top: 0px !important;
  }

  .cap {
    left: 10px !important;
    top: 10px;
  }

  img {
    right: 50px;
    top: 10px !important;
  }

  .about {
    text-align: center;
  }

  .rowAbout {
    display: flex;
    flex-direction: column-reverse;
  }

  .contact {
    font-size: 23px;
  }
}

.about {
  position: relative;
  top: 25px;
  font-family: "Quicksand", sans-serif;
  font-size: 23px;
}

img {
  position: relative;
  vertical-align: baseline;
  top: 0;
  height: 565px;
}

.hedgehog {
  top: 75px;
  position: relative;
  vertical-align: baseline;
  right: 0px;
  height: 470px;
}

.list {
  position: relative;
  list-style-type: none;
  left: 250px;
  top: 20%;
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-family: "Quicksand", sans-serif;
}

a:hover {
  text-decoration: none;
  color: #fff5ea;
}

a:link {
  text-decoration: none;
  color: #fff5ea;
}

a:visited {
  text-decoration: none;
  color: #fff5ea;
}

figure {
  position: relative;
  border: 5px solid;
  left: 100px;
  height: 200px;
  width: 650px;
  margin: auto;
}

.project {
  position: relative;
  height: 100%;
  width: 100%;
}

.cap {
  position: relative;
  font-size: 25px;
  font-family: "Quicksand", sans-serif;
  left: 100px;
}
