.footer {
  min-height: 15%;
  background-color: #fff5ea;
  position: sticky;
  padding: 60px 30px;
  bottom: 0;
  text-align: center;
}

.footer span {
  position: sticky;
  font-family: "Quicksand", sans-serif;
  color: #42a9a6;
}

@media only screen and (max-width: 575px) {
  .footer {
    padding: 10px;
  }

  .footer span {
    font-size: 10px;
  }
}
