.footer {
  min-height: 19%;
  background-color: #fce8d3;
  position: relative;
}

.footer span {
  position: absolute;
  bottom: 40%;
  left: 50px;
  right: 50px;
  text-align: center;
  color: #42a9a6;
}
